/*Colores*/
$color-primary: #7f59ed;
$color-light: #ececec;
$color-secondary: #1c1934;
$color-alternative: #ffffff;
$color-emphasis: #d64933;

/*Fuentes*/
$fuente1: 'Nunito', sans-serif;
$fuente2: 'Oswald', sans-serif;
$fuente3: 'Satisfy', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}