@import "components/globals";
@import "components/grids";

.appContainer{
    width: 100%;
    height: 100vh;
}
.map{
    width: 100%;
    height: 70%;
    position: fixed;
    & .actionBtns{
        position: relative;
        z-index: 500;
        .returnBtn{
            @include returnBtn;
            position: absolute;
            top: 1.4rem;
            left: 1.6rem;
            z-index: 800;
            width: 4rem;
            height: 4rem;
            border-radius: 4rem;
            background-color: $color-alternative;
        }
        .infoBtn{
            @include returnBtn;
            background-image: url("../assets/blackburguermenu.png");
            position: absolute;
            top: 1rem;
            left: 1.2rem;
            z-index: 800;
            width: 5rem;
            height: 5rem;
            border-radius: 4rem;
            background-color: $color-alternative;
            background-size: 3rem 3rem;
            transform: none;
            border: 2px solid rgba(0,0,0,0.2);
            background-clip: padding-box;
            box-shadow: none;
        }
    } 
}

.leaflet-control-attribution {
    display: none;
}

.position{
    width: 100%;
    height: 45%;
    padding-top: 2rem;

    position: fixed;
    z-index: 500;
    bottom:-2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fuente1;


    background-color: $color-primary;

    border: 0px solid gray;
    box-shadow: 0rem 0.5rem 0.8rem black;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    cursor: auto;
    color: $color-secondary;

    &--info{
        width: 90%;
        max-width: 60rem;
        height: 10rem;

        position: relative;
        margin-bottom: 1rem;
        border-radius: 2rem;
        padding: 1rem 1rem;
        
        background-color: $color-primary;
        & h1{
            font-size: 2rem;
            font-weight: 700;
            color: $color-light;
        }
        & p{
            font-size: 1.6rem;
            color: $color-light;
        }
        &__icon{
            position: absolute;
            width: 12rem;
            height: 12rem;
            right: -20px;
            top: -15px;
            background-image: url("../assets/locationmap.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &--button{
        @include button;

        p{
            font-size: 1.6rem;
            margin-left: 1rem;
        }
        &__location{
            @include icon;
            background-image: url("../assets/gps.png");

        }
        &__coords{
            @include icon;
            background-image: url("../assets/coords.png");
        }
        &__arrow{
            @include icon;
    
            position: absolute;
            right: 0;

            background-color: transparent;
            background-image: url("../assets/flechita.svg");

        }
        &__clock{
            @include icon;
            width: 1rem;
            height: 1rem;
            background-image: url("../assets/flechita.svg");

        }
        &:hover{
            color: $color-secondary;
            background-color: $color-light;
        }
    }
}
.cards{
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: 500;
    bottom: -2rem;
    font-family: $fuente1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;

    background-color: $color-light;
    border: 0px solid gray;
    box-shadow: 0rem 0.5rem 0.8rem black;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    cursor: auto;
    color: $color-secondary;

    & h1{
        display: inline-block;
        margin-left: 2.1rem;
        font-size: 1.8rem;
        font-weight: 700;
    }    
    & h2{
        display: inline-block;
        margin-left: 2.1rem;
        font-size: 1.6rem;
        font-weight: 700;
    }
    
    &--navigation{
        display: flex;
        align-items: center;
        margin: 1.5rem 0 1rem 0.8rem;
        &__return{
            @include returnBtn;
            border: none;
            box-shadow: none;
        }
        & h1{
            color: $color-primary;
            font-weight: bolder;
            font-size: 2rem;
            margin-left: 0.5rem;
        }
    }
    & .cardsContainer{
        width: 90%;
        max-width: 64rem;
        margin: 0 auto;
        .stationcard{
            width: 100%;
            height: 6rem;
        
            margin: 0 auto 0.8rem auto;
            padding: 1rem;
            @include display-grid;
            @include grid-template-columns(0.7fr 1.3fr);
            @include grid-template-rows(1fr 1fr);
            align-items: center;
            position: relative;
        
            border: none;
            border-radius: 20px;
            background-color: $color-alternative;
            cursor: pointer;
            box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
        
            &--left{
                margin-left: 0.4rem;
                @include grid-column(1,2);
                @include grid-row(1,3);
            }
            &--name{
                font-size: 2.2rem;
                font-weight: 400;
                display: inline-block;
            }
            &--act{
                font-size: 1rem;
                display: inline-block;
                margin-left: 0.4rem;
                font-weight: 700;
            }
        
            & .act{
                color: $color-true;
            }
        
            & .inac{
                color: $color-false;
            }
        
            &--time{
                text-align: left;
                font-size: 1.4rem;
                @include grid-column(2,3);
                @include grid-row(1,2);
            }
            &--dist{
                text-align: left;
                font-size: 1.4rem;
                @include grid-column(2,3);
                @include grid-row(2,3);
            }
            &:hover{
                background-color: $color-secondary;
                color: $color-light;
            }
        }
    }
}

.tab{
    width: 100%;
    height: 45%;

    position: absolute;
    z-index: 500;
    bottom: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    
    font-family: $fuente1;
    background-color: $color-alternative;
    border: 0px solid gray;
    box-shadow: 0rem 0.5rem 0.8rem black;
    // border-radius: 1.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: auto;
    color: $color-gray;
    
    & .tab--buttonsContainer{
        @include display-grid;
        @include grid-template-columns(1fr 1fr);
        width: 100%;
        height: 4rem;

        // margin-bottom: 0.5rem;

        & .tab--button{
            border: none;
            font-size: 1.8rem;
            font-weight: 400;
            background-color: $color-alternative;
            color: $color-primary;
            // border-radius: 1.5rem 1.5rem 0 0;
        }

        & .inactiveBtn{
            background-color: $color-light;
            color: $color-gray;
        }
    }
    & .tab--section{
        width: 80%;
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;

        &__degrees{
            max-width: 45rem;
            margin: 0 auto;
        }

        & .degrees--container{
            display: flex;
            margin-bottom: 1rem;
            &__input{
                width: 6rem;
                height: 4rem;
                font-size: 2rem;
                
                padding: 0 auto;
                justify-content: center;
                text-align: center;

                border-radius: 1rem;
                border: 1px solid $color-gray;
                color: $color-primary;
            }
            & .long{
                width: 8rem;
            }
            h1{
                margin: 0 1rem 0 0.5rem;
            }
            &__selector{
                width: 5rem;
                height: 4rem;

                font-size: 2rem;
                font-weight: 700;
                padding-left: 1rem;

                border-radius: 0.5rem;
                border: none;
                background-color: $color-secondary;
                color: $color-light;
            }
        }

        &__decimal{
            max-width: 45rem;
            margin: 0 auto;
        }

        & .decimal--container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 1rem auto 1rem auto;
            & h1{
                text-align: left;
                //margin: 0 auto;
            }
            &__input{
                width: 100%;
                height: 4rem;
                font-size: 2rem;

                margin: 0 auto;
                padding: 0 auto;
                justify-content: center;
                text-align: center;

                border-radius: 1rem;
                border: 1px solid $color-gray;
                color: $color-primary;
            }
        }
        & .position--button{
            width: 100%;
            margin: 2rem 0 0 0;
        }
    }
}
.warning{
    width: 100%;
    height: 100vh;
    
    position: fixed;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: $fuente1;
    background-color: rgba(0,0,0,0.5);

    &--popUp{
        width: 25rem;
        height: 28rem;
        
        border-radius: 1rem;
        background-color: $color-alternative;
        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__icon{
            width: 8rem;
            height: 8rem;
            background-image: url(../assets/warning.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__title{
            font-size: 2rem;
        }
        &__description{
            font-size: 1.4rem;
        }
        & .position--button{
            width: 60%;
            height: 4rem;

            margin-top: 1rem;
            text-align: center;
            padding: 0;
            p {
                margin: 0 auto;
            }
        }
    }   
}
.lateralMenuContainer{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
    display: flex;
    .burguerMenu{
        width: 70%;
        height: 100vh;
        background-color: $color-light;
        z-index: 500;
        font-family: $fuente2;
        padding-right: 2rem;
        span{
            display: inline-block;
            @include icon;
            margin-right: 1rem;
            // background-color: transparent;
        }
        &--title{
            margin: 2rem 0 0 1rem;
            display: flex;
            align-items: center;
            button{
                @include returnBtn;
                box-shadow: none;
                border: none;
            }
            h1{
                margin-left: 1rem;
                font-family: $fuente2;
                font-size: 2rem;
                color: $color-primary;
            }
        }
        &--surveyorInfo{
            margin: 2rem 0 1rem 1rem;
            div{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: $color-secondary;
                margin-bottom: 1rem;
                cursor: pointer;
            }
            .questionIcon{
                background-image: url("../assets/question.png");
                background-color: transparent;
                background-size: 3rem 3rem;
            }
            .piIcon{
                background-image: url("../assets/pi.png");
                background-color: transparent;
            }
            .gpsIcon{
                background-image: url("../assets/red.png");
                background-color: transparent;
                background-size: 4rem 4rem;
            }
        }
        &--appInfo{
            margin: 3rem 0 1rem 1rem;
            border-top: 1px solid rgba(0,0,0,0.05);
            padding-top: 3rem;
            div{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: $color-secondary;
                margin-bottom: 1rem;
                cursor: pointer;
            }
            .focoIcon{
                background-image: url("../assets/bombilla.png");
                background-color: transparent;
                background-size: 3rem 3rem;
            }
            .likeIcon{
                background-image: url("../assets/like.png");
                background-color: transparent;
                background-size: 3rem 3rem;
            }
        }
    }
}
.inactive{
    display: none;
}
.leaflet-top{
    margin-top: 6rem;
    margin-left: 1rem;
}

@media (min-width: 481px){
    .map{
        height: 85%;
    }
    .position{
        height: 30%;
        padding-top: 2rem;
    }
    .lateralMenuContainer{
        .burguerMenu{
            width: 50%;
        }
    }
    .tab{
        .degreesSection{
            margin-top: 5rem;
        }
    }
}

@media (min-width: 961px){
    .appContainer{
        @include display-grid;
        @include grid-template-columns(0.6fr 1.4fr);
        @include grid-template-rows(1fr 1fr);
    }
    .position{
        position: relative;
        @include grid-column(1, 2);
        @include grid-row(1, 3);
        width: 100%;
        height: 100vh;
        z-index: 500;
        top: 0;
        bottom: none;
        border-radius: 0px;
        &--info{
            margin: 2rem 0;
        }
    }
    .map{
        @include grid-column(2, 3);
        @include grid-row(1, 3);
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .cards{
        position: relative;
        top: 0;
        width: 101%;
        height: 100vh;
        @include grid-column(1, 2);
        @include grid-row(1, 3);
    }
    .tab{
        position: relative;
        top: 0;
        width: 101%;
        height: 100vh;
        @include grid-column(1, 2);
        @include grid-row(1, 3);
    }
}