/*Colores*/
/*#7f59ed;*/
/*Fuentes*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ---------------------------------HTML WITH PLACEHOLER---------------------------------->
<section class="popUp inactive">
        <div class="popUp--warning">
            <span class="popUp--warning__icon"></span>
            <h1 class="popUp--warning__title">Verifica tus datos</h1>
            <p class="popUp--warning__description">Los datos ingresados son incorrectos o hay datos faltantes</p>
            <button class="position--button closeWarning">
                <p>Entendido</p>
            </button>
        </div>
</section>

------------------------------------JUST COPY AND REPLACE IN STYLESHEET--------------------->
.warning{
    &--popUp{
        &__icon{
            background-image: url(../REPLACE HERE YOUR IMG);
        }
    }
}
*/
/*Colores*/
/*#7f59ed;*/
/*Fuentes*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.popUp {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}
.popUp--warning {
  width: 25rem;
  height: 28rem;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.popUp--warning__icon {
  width: 8rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popUp--warning__title {
  font-size: 2rem;
}
.popUp--warning__description {
  font-size: 1.4rem;
}
.popUp--warning .position--button {
  width: 60%;
  height: 4rem;
  margin-top: 1rem;
  text-align: center;
  padding: 0;
}
.popUp--warning .position--button p {
  margin: 0 auto;
}
.popUp .cardDetail .cardName {
  font-size: 4rem;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #7f59ed;
}
.popUp .cardDetail .location {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.popUp .cardDetail .status {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.popUp .cardDetail #act {
  font-weight: 700;
  color: #1bad16;
}
.popUp .cardDetail #inact {
  font-weight: 700;
  color: #f3413c;
}
.popUp .cardDetail .time {
  font-size: 1.2rem;
  color: #b7b8c2;
}

.appContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map {
  width: 100%;
  height: 70%;
  position: fixed;
}
.map .actionBtns {
  position: relative;
  z-index: 500;
}
.map .actionBtns .returnBtn {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  position: absolute;
  top: 1.4rem;
  left: 1.6rem;
  z-index: 500;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: #ffffff;
}
.map .actionBtns .infoBtn {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  z-index: 500;
  width: 5rem;
  height: 5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  background-image: url("../assets/blackburguermenu.png");
  background-color: #ffffff;
  background-size: 3rem 3rem;
  -webkit-transform: none;
          transform: none;
  background-clip: padding-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.leaflet-control-attribution {
  display: none;
}

.position {
  width: 100%;
  height: 45%;
  padding-top: 2rem;
  position: fixed;
  z-index: 500;
  bottom: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #7f59ed;
  border: 0px solid gray;
  -webkit-box-shadow: 0rem -0.2rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem -0.2rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  font-size: 1.6rem;
  cursor: auto;
  color: #1b1931;
}
.position--info {
  width: 90%;
  max-width: 60rem;
  height: 10rem;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 1rem 7rem 1rem 1rem;
  background-color: #7f59ed;
}
.position--info h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ecf0fb;
}
.position--info p {
  font-size: 1.6rem;
  color: #ecf0fb;
}
.position--info__icon {
  position: absolute;
  width: 12rem;
  height: 12rem;
  right: -20px;
  top: -15px;
  background-image: url("../assets/locationmap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.position--button {
  width: 80%;
  max-width: 60rem;
  height: 6rem;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  border: none;
  border-radius: 2rem;
  color: #ffffff;
  background-color: #1b1931;
  cursor: pointer;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.position--button p {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.position--button__location {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  background-image: url("../assets/gps.png");
}
.position--button__coords {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  background-image: url("../assets/coords.png");
}
.position--button__arrow {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  position: absolute;
  right: 0;
  background-color: transparent;
  background-image: url("../assets/flechita.svg");
}
.position--button__clock {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/flechita.svg");
}
.position--button:hover {
  color: #1b1931;
  background-color: #ecf0fb;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 501;
  position: fixed;
  top: 50%;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  -webkit-box-shadow: 0rem -0.4rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem -0.4rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #ecf0fb;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
.navigation__return {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.navigation h1 {
  color: #7f59ed;
  font-weight: bolder;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.cards {
  width: 100%;
  height: calc(50% - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
  padding: 1.5rem 0 2rem 0;
  position: fixed;
  z-index: 500;
  bottom: -2rem;
  font-family: "Nunito", sans-serif;
  background-color: #ecf0fb;
  border: 0px solid gray;
  font-size: 1.6rem;
  cursor: auto;
  color: #1b1931;
}
.cards h1 {
  display: inline-block;
  margin-left: 2.1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.cards h2 {
  display: inline-block;
  margin-left: 2.1rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.cards .cardsContainer {
  width: 90%;
  max-width: 64rem;
  margin: 0 auto;
}
.cards .cardsContainer .stationcard {
  width: 100%;
  height: 6rem;
  margin: 0 auto 0.8rem auto;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 1.3fr;
  grid-template-columns: 0.7fr 1.3fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.cards .cardsContainer .stationcard--left {
  margin-left: 0.4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.cards .cardsContainer .stationcard--name {
  font-size: 2.2rem;
  font-weight: 400;
  display: inline-block;
}
.cards .cardsContainer .stationcard--act {
  font-size: 1rem;
  display: inline-block;
  margin-left: 0.4rem;
  font-weight: 700;
}
.cards .cardsContainer .stationcard .act {
  color: #1bad16;
}
.cards .cardsContainer .stationcard .inac {
  color: #f3413c;
}
.cards .cardsContainer .stationcard--time {
  text-align: left;
  font-size: 1.4rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.cards .cardsContainer .stationcard--dist {
  text-align: left;
  font-size: 1.4rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.cards .cardsContainer .stationcard:hover {
  background-color: #1b1931;
  color: #ecf0fb;
}

.returnTab {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #7f59ed;
}
.returnTab h1 {
  color: #ecf0fb;
}

.tab {
  width: 100%;
  height: calc(50% - 2rem);
  position: fixed;
  padding: 3rem 0 2rem 0;
  z-index: 500;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  border: 0px solid gray;
  -webkit-box-shadow: 0rem 0.5rem 0.8rem black;
          box-shadow: 0rem 0.5rem 0.8rem black;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: auto;
  color: #b7b8c2;
}
.tab .tab--buttonsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 5rem;
}
.tab .tab--buttonsContainer .tab--button {
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #ffffff;
  color: #7f59ed;
}
.tab .tab--buttonsContainer .inactiveBtn {
  background-color: #ecf0fb;
  color: #b7b8c2;
}
.tab .tab--section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.tab .tab--section__degrees {
  max-width: 45rem;
  margin: 0 auto;
}
.tab .tab--section .degrees--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.tab .tab--section .degrees--container__input {
  width: 5rem;
  height: 4rem;
  font-size: 2rem;
  padding: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #b7b8c2;
  color: #7f59ed;
}
.tab .tab--section .degrees--container .long {
  width: 10rem;
}
.tab .tab--section .degrees--container h1 {
  margin: 0 1rem 0 0.5rem;
}
.tab .tab--section .degrees--container__selector {
  width: 5rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #1b1931;
  color: #ecf0fb;
}
.tab .tab--section__decimal {
  max-width: 45rem;
  margin: 0 auto;
}
.tab .tab--section .decimal--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem auto 1rem auto;
}
.tab .tab--section .decimal--container h1 {
  text-align: left;
}
.tab .tab--section .decimal--container__input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #b7b8c2;
  color: #7f59ed;
}
.tab .tab--section .position--button {
  width: 100%;
  margin: 2rem 0 0 0;
}

.popUp--warning .alert {
  background-image: url(../assets/warning.png);
}
.popUp--warning .block {
  background-image: url(../assets/block.png);
}
.popUp--warning .calibrate {
  background-image: url(../assets/north.png);
}
.popUp--warning .outColombia {
  background-image: url(../assets/colombia.png);
}

.lateralMenuContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lateralMenuContainer .burguerMenu {
  width: 70%;
  height: 100%;
  background-color: #ecf0fb;
  z-index: 500;
  font-family: "Oswald", sans-serif;
  padding-left: 2rem;
}
.lateralMenuContainer .burguerMenu span {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  margin-right: 1rem;
}
.lateralMenuContainer .burguerMenu--contextGPS {
  width: 90%;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem auto 0rem calc(5% - 1rem);
  padding: 2rem;
  border-radius: 1rem;
  background-color: #7f59ed;
}
.lateralMenuContainer .burguerMenu--contextGPS h1 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}
.lateralMenuContainer .burguerMenu--contextGPS .pdate {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}
.lateralMenuContainer .burguerMenu--contextGPS p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ecf0fb;
}
.lateralMenuContainer .burguerMenu--title {
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lateralMenuContainer .burguerMenu--title button {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.lateralMenuContainer .burguerMenu--title h1 {
  margin-left: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #7f59ed;
}
.lateralMenuContainer .burguerMenu--surveyorInfo {
  margin: 2rem 0 1rem 0;
  padding-right: 2rem;
}
.lateralMenuContainer .burguerMenu--surveyorInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #1b1931;
  margin-bottom: 1rem;
  cursor: pointer;
}
.lateralMenuContainer .burguerMenu--surveyorInfo .questionIcon {
  background-image: url("../assets/question.png");
  background-color: transparent;
  background-size: 3rem 3rem;
}
.lateralMenuContainer .burguerMenu--surveyorInfo .piIcon {
  background-image: url("../assets/pi.png");
  background-color: transparent;
}
.lateralMenuContainer .burguerMenu--surveyorInfo .gpsIcon {
  background-image: url("../assets/red.png");
  background-color: transparent;
  background-size: 4rem 4rem;
}
.lateralMenuContainer .burguerMenu--appInfo {
  margin: 3rem 0 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 3rem;
  padding-right: 2rem;
}
.lateralMenuContainer .burguerMenu--appInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #1b1931;
  margin-bottom: 1rem;
  cursor: pointer;
}
.lateralMenuContainer .burguerMenu--appInfo .focoIcon {
  background-image: url("../assets/bombilla.png");
  background-color: transparent;
  background-size: 3rem 3rem;
}
.lateralMenuContainer .burguerMenu--appInfo .likeIcon {
  background-image: url("../assets/like.png");
  background-color: transparent;
  background-size: 3rem 3rem;
}

.appInfo {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  font-family: "Nunito", sans-serif;
  background-color: #ecf0fb;
  overflow: auto;
}
.appInfo .toReturn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 501;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  background-color: #7f59ed;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}
.appInfo .toReturn__return {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  background-size: 1.5rem 1.5rem;
  background-color: #7f59ed;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.appInfo .toReturn h1 {
  color: #ecf0fb;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.appInfo--return {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.appInfo--title {
  width: 100%;
  margin: 0 auto;
  padding: 0rem 1rem 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #7f59ed;
}
.appInfo--title__icon {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 20rem;
  height: 16rem;
  padding-right: 0;
  background-color: transparent;
  background-size: cover;
  background-image: url("../assets/location.png");
}
.appInfo--title h1 {
  font-size: 3rem;
  color: #ffffff;
}
.appInfo--card {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1.5rem 2rem 1.5rem;
  font-size: 1.4rem;
  background-color: #ecf0fb;
  color: #1b1931;
}
.appInfo--card__icon {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #9bc9ff;
  border-radius: 2rem;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 100%;
  max-width: 10rem;
  height: 10rem;
  margin-right: 1.5rem;
  background-size: 6rem 6rem;
  border-radius: 10rem;
  background-color: transparent;
}
.appInfo--card__content a {
  color: #7f59ed;
  font-weight: 600;
  text-decoration: none;
}
.appInfo--card .clock {
  background-image: url("../assets/clock.png");
}
.appInfo--card .helmet {
  background-image: url("../assets/helmet.png");
  background-color: #ecf0fb;
}
.appInfo--card .coords {
  background-image: url("../assets/coords.png");
  background-color: #ecf0fb;
}
.appInfo--card .ux {
  background-image: url("../assets/UX.png");
  background-color: #ecf0fb;
}
.appInfo--card .search {
  background-image: url("../assets/search.png");
  background-color: #ecf0fb;
}
.appInfo .black {
  background-color: #1b1931;
  color: #ffffff;
}

.calcInfo {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  font-family: "Nunito", sans-serif;
  background-color: #ecf0fb;
  overflow: auto;
}
.calcInfo .toReturn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 501;
  width: 100%;
  height: 4rem;
  background-color: #ecf0fb;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}
.calcInfo .toReturn__return {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  background-size: 1.5rem 1.5rem;
  background-color: #ecf0fb;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.calcInfo .toReturn h1 {
  color: #7f59ed;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.calcInfo--banner {
  width: 100%;
  max-width: 120rem;
  height: 10rem;
  margin: 1rem 0 0.5rem 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calcInfo--banner h1 {
  display: inline-block;
  margin-left: 1rem;
  font-size: 2.4rem;
  color: #7f59ed;
  font-weight: bolder;
}
.calcInfo--banner img {
  width: 10rem;
  height: 10rem;
}
.calcInfo--explanation {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}
.calcInfo--explanation h1 {
  display: inline-block;
  font-size: 1.8rem;
  color: #1b1931;
  margin-bottom: 1rem;
}
.calcInfo--explanation p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #1b1931;
}
.calcInfo--explanation__list {
  margin-left: 1rem;
}
.calcInfo--explanation__list .formula {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.calcInfo--explanation__list .formula span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 40rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: #7f59ed;
  color: #ecf0fb;
}
.calcInfo--circle {
  background-color: #b7b8c2;
}
.calcInfo--circle__explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 90%;
  max-width: 60rem;
  font-size: 1.6rem;
  font-style: italic;
}
.calcInfo--circle__explanation p {
  display: inline-block;
  margin-bottom: 1rem;
}
.calcInfo--circle__explanation span {
  text-align: right;
  font-size: 1.2rem;
}
.calcInfo--circleSolution__explanation {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 0 1rem;
  font-size: 1.6rem;
  color: #1b1931;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /*quit*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calcInfo--circleSolution__explanation p span {
  color: #7f59ed;
  font-weight: 600;
}
.calcInfo--circleSolution__explanation .verify {
  display: block;
  margin-bottom: 2rem; /*quit*/
  /* margin-right: 5rem; put*/
}
.calcInfo--circleSolution__explanation img {
  width: 25rem;
  height: auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.calcInfo--circleSolution__explanation .cita {
  display: inline-block;
  margin-top: 1rem;
  width: 60%;
  font-size: 1.2rem;
  color: #957ce0;
  text-align: center;
}
.calcInfo--alert {
  background-color: #7f59ed;
}
.calcInfo--alert__note {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 90%;
  max-width: 60rem;
  font-size: 1.6rem;
  color: #ecf0fb;
  border-radius: 1rem;
}

.magnaNet {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  font-family: "Nunito", sans-serif;
  background-color: #ecf0fb;
  overflow: auto;
}
.magnaNet .toReturn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 501;
  width: 100%;
  height: 4rem;
  background-color: #ecf0fb;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}
.magnaNet .toReturn__return {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  background-size: 1.5rem 1.5rem;
  background-color: #ecf0fb;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.magnaNet .toReturn h1 {
  color: #7f59ed;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.magnaNet--banner {
  width: 100%;
  max-width: 120rem;
  height: 10rem;
  margin: 1rem 0 0.5rem 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.magnaNet--banner h1 {
  display: inline-block;
  margin-left: 1rem;
  font-size: 2.6rem;
  color: #7f59ed;
  font-weight: bolder;
}
.magnaNet--banner img {
  width: 10rem;
  height: 10rem;
  margin: 0 1rem 0 2rem;
}
.magnaNet--explanation {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
.magnaNet--explanation h1 {
  display: inline-block;
  font-size: 1.8rem;
  color: #1b1931;
  margin-bottom: 1rem;
}
.magnaNet--explanation p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #1b1931;
}
.magnaNet--explanation p span {
  color: #7f59ed;
  font-weight: 600;
}
.magnaNet--explanation table {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.magnaNet--explanation table th {
  background-color: #7f59ed;
  color: #ecf0fb;
  height: 3rem;
}
.magnaNet--explanation table tr {
  height: 5rem;
  border-radius: 1rem;
}
.magnaNet--explanation table tr .topLeft {
  border-radius: 1rem 0 0 0;
}
.magnaNet--explanation table tr .topRight {
  border-radius: 0 1rem 0 0;
}
.magnaNet--explanation table tr .bottLeft {
  border-radius: 1rem;
}
.magnaNet--explanation table tr .bottRight {
  border-radius: 1rem;
}
.magnaNet--explanation table .bottRow {
  border-radius: 5rem;
}
.magnaNet--explanation table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
.magnaNet--explanation table td {
  border: 1px solid #b7b8c2;
}
.magnaNet--explanation table .desc {
  width: 10rem;
}
.magnaNet--explanation table .act {
  color: #1bad16;
  font-weight: 700;
}
.magnaNet--explanation table .inac {
  color: #f3413c;
  font-weight: 700;
}
.magnaNet--note {
  background-color: #1b1931;
}
.magnaNet--note__div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 90%;
  max-width: 60rem;
  font-size: 1.6rem;
  color: #ecf0fb;
  border-radius: 1rem;
  text-align: justify;
}
.magnaNet--note__div p {
  margin-bottom: 1rem;
}

.profesional {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  font-family: "Nunito", sans-serif;
  background-color: #1b1931;
  color: #ecf0fb;
  overflow: auto;
  font-family: "Nunito", sans-serif;
}
.profesional .toReturn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 501;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  background-color: #1b1931;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}
.profesional .toReturn__return {
  width: 5rem;
  height: 5rem;
  background-color: #ecf0fb;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.16), 0 1px 15px rgba(0, 0, 0, 0.23);
  z-index: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/flechita.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  background-size: 1.5rem 1.5rem;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.profesional .toReturn h1 {
  color: #ecf0fb;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.profesional .profesional--explanation {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  color: #ecf0fb;
}
.profesional .profesional--explanation h1 {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.profesional .profesional--explanation p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.profesional .profesional--explanation p span {
  color: #7f59ed;
  font-weight: 600;
}
.profesional .acordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}
.profesional .acordeon .bloque {
  width: 90%;
  background: rgb(11, 7, 52);
  background: linear-gradient(72deg, rgb(11, 7, 52) 3%, rgb(127, 89, 237) 100%);
  margin: 0 0 1rem 0;
  padding: 1rem;
  max-width: 50rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.profesional .acordeon .bloque--name {
  max-width: 30rem;
  padding: 1rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profesional .acordeon .bloque--name h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.profesional .acordeon .bloque--name img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}
.profesional .acordeon .bloque--name p {
  font-style: italic;
}
.profesional .acordeon .bloque--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #957ce0;
  border-radius: 0 0 1rem 1rem;
  padding: 0rem;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.profesional .acordeon .bloque--info__text {
  width: 80%;
  padding: 1rem;
}
.profesional .acordeon .bloque--info__text p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.profesional .acordeon .bloque--info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}
.profesional .acordeon .bloque--info__img img {
  width: 3rem;
  height: 3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.profesional .acordeon .bloque--info.active {
  position: relative;
  width: 90%;
  max-width: 50rem;
  height: auto;
  padding: 1rem 0 1rem 2rem;
  top: -20px;
}
.profesional .magnaNet--note {
  margin-top: 5rem;
  width: 100%;
  background-color: #ffffff;
}
.profesional .magnaNet--note__div {
  color: #1b1931;
}

.inactive {
  display: none;
}

.leaflet-top {
  margin-top: 6rem;
  margin-left: 1rem;
}

@media (min-width: 481px) {
  .map {
    height: 85%;
  }
  .position {
    height: 30%;
    padding-top: 2rem;
  }
  .lateralMenuContainer .burguerMenu {
    width: 50%;
  }
  .tab .degreesSection {
    margin-top: 5rem;
  }
  .tab .tab--section .degrees--container .long {
    width: 12rem;
  }
  .tab .tab--section .degrees--container__input {
    width: 6rem;
    height: 4rem;
  }
  .appInfo {
    position: fixed;
    width: 50%;
  }
  .appInfo--title {
    height: 24rem;
  }
  .appInfo--card {
    height: 18rem;
  }
  .calcInfo {
    width: 50%;
  }
  .calcInfo .toReturn {
    margin-top: 2rem;
  }
  table {
    font-size: 1.4rem;
  }
  .profesional {
    width: 50%;
  }
}
@media (min-width: 961px) {
  .appContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.6fr 1.4fr;
    grid-template-columns: 0.6fr 1.4fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .position {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    width: 100%;
    height: 100vh;
    z-index: 500;
    top: 0;
    bottom: none;
    border-radius: 0px;
  }
  .position--info {
    margin: 2rem 0;
  }
  .map {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .navigation {
    top: 0;
    left: 0;
    width: 30.3%;
    border-radius: 0rem;
  }
  .cards {
    position: relative;
    top: 0;
    width: 101%;
    height: 100vh;
    padding-top: 6.4rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .returnTab {
    width: 30.3%;
  }
  .tab {
    position: relative;
    top: 0;
    width: 101%;
    height: 100vh;
    padding-top: 5rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .lateralMenuContainer .burguerMenu {
    width: 35%;
  }
  .lateralMenuContainer .burguerMenu--contextGPS {
    max-width: 60rem;
  }
  .appInfo {
    position: fixed;
    width: 35%;
  }
  .appInfo--title {
    height: 24rem;
  }
  .appInfo--title__icon {
    width: 18rem;
    height: 18rem;
  }
  .appInfo--card {
    height: 14rem;
  }
  .calcInfo {
    position: fixed;
    width: 35%;
  }
  .magnaNet {
    position: fixed;
    width: 35%;
  }
  .profesional {
    position: fixed;
    width: 35%;
  }
}